/* @import url(node_modules/normalize.css/normalize.css); */
:root {
    --logo-color: #fff;
    --text-color: #000;
    --error-text-color: #cc0000;
    --main-bg: #f4f4f4;
    --form-bg: #fff;


}

* {

    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}



.body>* {
    height: 100vh;
}

body,
button {
    text-transform: capitalize;
}

@font-face {
    font-family: odin-font;
    src: url(./assets/Norse-Bold.otf);
    src: url(./assets/Norse-Bold.eot) format('embedded-opentype'),
        /* IE 5-8 */
        url(./assets/Norse-Bold.svg) format('svg'),
        /* iOS */
        url(./assets/Norse-Bold.ttf) format('truetype'),
        /* Opera, Safari */
        url(./assets/Norse-Bold.woff) format('woff');
    /* FF 3.6, Chrome 5, IE9 */

    /* format() explains what type of file is being referenced, allowing the browser to select the supported format. */
}



.page-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 100vh; */
}

.page-header {
    position: relative;
}



.logo_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 30%;
    background-color: rgba(2, 2, 2, 0.37);
}

.logo {
    max-width: 7rem;
    height: auto;
}

.figure-image {
    height: 100%;
    width: 100%;
}

.hero {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

}

.hero-text {
    color: white;
    font-family: 'odin-font', monospace, sans-serif;
    font-size: 4rem;

}

.main-page {
    display: grid;
    background: var(--main-bg);

}


.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 5rem;
    font-family: 'Open Sans', sans-serif;

}

.main-header>* {
    margin-top: 0.5rem;
}

.bg-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 90%;
    color: var(--logo-color);
    font-size: 90%;
}

.bg-a {
    color: var(--logo-color);
    text-decoration: underline;

}

.bg-a:hover {
    color: var(--logo-color);

}


.form-wrapper {
    position: relative;
    border: 1px solid #E5E7EB;
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.16);
    padding-bottom: 2rem;
    background: var(--form-bg);
}

.fieldset {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 40% 40%;
    margin-left: 5rem;
    height: 100%;
    margin-top: 5rem;
}

.form-title {
    font-family: 'Open Sans', sans-serif;


}

.link-login {
    margin-left: 5rem;
    margin-top: 2rem;
}

.link-login>* {
    margin-bottom: 1rem;
}

.btn {
    width: 10rem;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
    background: #596D48;
    border: solid #155200 1px;
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.16);
    text-decoration: none;
}

.btn:hover {
    background: #424938;
    text-decoration: none;
}

legend {
    position: absolute;
    bottom: 0;
    top: 5%;
}

input {
    display: block;
    width: 60%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid #1161cd;
    -webkit-box-shadow: 6px 9px 6px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 9px 6px -1px rgba(0, 0, 0, 0.1);
}

.error:focus {
    outline: none;
    border: 1px solid #E5E7EB;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.label {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.error {
    border: 1px solid #E5E7EB;
}

.link-text {
    color: #424938;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width : 1024px) {

    /* Styles */
    .page-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
    }

    .logo_page {
        height: auto;
    }


}

/* # Mobile  */
@media only screen and (max-width: 480px) {
    .page-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 100vh;
    }

    .fieldset {

        grid-template-columns: 1fr;

    }
}